In [6]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

Считываем данные.

In [7]:
X_train = np.load('./data/X_train.npy')
X_test = np.load('./data/X_test.npy')

y_train = pd.read_csv('./data/y_train.csv', index_col='sample-timestep')
y_test = pd.read_csv('./data/sample_submission.csv')

sample_submission = pd.read_csv('./data/sample_submission.csv')

print(X_train.shape, y_train.shape)
print(X_test.shape)

(323, 40, 100) (32300, 1)
(54, 40, 100)

Преобразуем данные к необходимому виду.

In [8]:
data_test = []
for sample in X_test:
    data_test += list(sample.T)
    
data_test = np.array(data_test)
data_test.shape

(5400, 40)

In [9]:
data_train = []
for sample in X_train:
    data_train += list(sample.T)
    
data_train = np.array(data_train)
data_train.shape

(32300, 40)

В качестве базовой модели использую дерево решений.

In [10]:
dt_model = DecisionTreeClassifier(max_depth=10, min_samples_leaf=5, random_state=42)
dt_model.fit(data_train, y_train)

y_train_predict = dt_model.predict(data_train)
print(f1_score(y_train, y_train_predict, average=None).mean())

0.861612606786177

In [11]:
y_test_predict = dt_model.predict(data_test)

sample_submission['class'] = y_test_predict
sample_submission.to_csv('./submissions/baseline.csv', index=False)

In [12]:
sample_submission

     sample-timestep  class
0              323-0      4
1              323-1      4
2              323-2      4
3              323-3      4
4              323-4      4
...              ...    ...
5395          376-95      4
5396          376-96      4
5397          376-97      4
5398          376-98      0
5399          376-99      4

[5400 rows x 2 columns]